{% extends 'base.html' %}

{% block body %}
  {% if validlink %}
    <form class="form-signin" method="post">
    <h2 class="form-signin-heading">Change password</h2>
      {% csrf_token %}
        {% for field in form %}
            <div>{{ field.label_tag }}</div>
            <div>{{ field }}</div>
        {% endfor %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
    </form>
  {% else %}
      <div class="center">
        <h4>
            The password reset link was invalid, possibly because it has already been used.</br></br>Please request a new password reset.
        </h4>
    </div>
  {% endif %}
{% endblock %}