.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.center {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

#dataTable {
    border: 1px solid black;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

#labelDataTabel {
    max-width: 600px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}