{% extends 'base.html' %}
{% block login_active %}active{% endblock %}

{% block body %}
<div class="container">

      <form class="form-signin" role="form" action="{% url 'login_user'%}" method="post" enctype="multipart/form-data">
        <h2 class="form-signin-heading">Please sign in</h2>
		{% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <div id="csrf_token_container">{%  csrf_token %}</div>
        <label for="id_username" class="sr-only">Username</label>
        <input id="id_username" maxlength="50" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input id="id_password" maxlength="30" name="password" type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>

{% endblock %}
